.div_footer_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 38px;
}

.nav_li-sicial {
  display: flex;
}

.nav_li-sicial li {
  margin-right: 20px;
}

address {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-style: normal;
  font-weight: normal;
  padding-left: 50px;
}

.block_footer-end {
  background-color: var(--color-background);
}

.div_info-shop {
  display: flex;
  justify-content: space-between;
  color: var(--color-footer-categor);
  padding: 25px 0;
}

.icon-youtube path,
.icon-youtube circle{
  transition: all 0.8s ease;
}

.icon-youtube:hover path{
  fill: var(--color-background);
}

.icon-youtube:hover circle{
  stroke: var(--color-background);
}
