.top-header{
  background-color: var(--color-background);
  padding: 17px 0;
}

.link-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.link-header li a{
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-right: 30px;
}

.logo{
  display: flex;
  flex-direction: row;
}

.logo-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.logo-search{
  position: relative;
  padding-right: 93px;
}


.input_search{
  background-color: var(--color-background);
  border-radius: 40px;
  min-width: 250px;
  min-height: 40px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding-left: 55px;
}

.search-icon{
  position: absolute;
  display: block;
  top: 25%;
  left: 20px;
}

.callback-number{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-number{
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--color-number);
  padding-right: 40px;
}


.button-callback{
  border: 2px solid var(--color-border-defalt);
}

.navigation_link{
  border-top: 1px solid var(--color-background);
}

.link-main_menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
}

.link-main_menu li a{
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-right: 40px;
}
